.title-text {
    margin-left: 40%;
    font-size: 40px;
    color:aliceblue   
}

.navbar {
    background-color: midnightblue;
}

.container-fluid {
    height: 100vh;
    padding-top: 1%;
}

.city {
    padding-right: 5%;
}

.city-details {
    border: 1px solid;
}

.city-details h4 {
    font-size: 25px;
}

.city-details p {
    font-size: 15px;
}

.uvi_value_span {
    width: 70px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

#forecast-cards {
    color: white;
}

.card {
    width:12rem;
    background-color: #093a6e;
    display: inline-block;
    margin-right: 1%;
}

.forecast {
    margin-top: 5%;
    margin-bottom: 5%; 
}

#forecast-days {
    font-size: 25px;
}

#search-history {
    margin-top: 5%;
}
